* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Section */
.wrapper {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid black;
  background: linear-gradient(#497be8 0%, #68eacc 100%);
}

.wrapper header {
  text-align: center;
  font-size: 25px;
  color: white;
}

.wrapper .clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  color: white;
}

.wrapper .clock .time {
  margin-right: 8px;
}

.wrapper .input-card {
  width: 100%;
  margin-top: 10px;
}

.wrapper .input-card .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .input-card .input input {
  width: 80%;
  height: 30px;
  font-size: 12px;
  padding: 0 10px;
  border-radius: 100px;
  outline: none;
  margin-right: 10px;
  border: none;
}

.wrapper .input-card button {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  outline: none;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
}

.wrapper .input-card .input input:hover {
  border: 3px solid skyblue;
}

.wrapper .input-card .input button:hover {
  border: 3px solid skyblue;
}

.wrapper .input-card button.active {
  background-color: white;
}

.wrapper .input-card .colors {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  cursor: pointer;
}

.wrapper .input-card .colors li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 100px;
}

.wrapper .input-card .colors li:hover {
  border: 3px solid #80e27e;
}

.wrapper .input-card .colors li:nth-child(1) {
  background-color: #ff616f;
}
.wrapper .input-card .colors li:nth-child(2) {
  background-color: #ff79b0;
}

.wrapper .input-card .colors li:nth-child(3) {
  background-color: #ff79ff;
}

.wrapper .input-card .colors li:nth-child(4) {
  background-color: #9effff;
}

.wrapper .input-card .colors li:nth-child(5) {
  background-color: #e7ff8c;
}

.wrapper .input-card .colors li:nth-child(6) {
  background-color: #ffa06d;
}

.wrapper .todoList {
  height: 250px;
  max-height: 250px;
  overflow: auto;
  border-radius: 8px;
  border: 3px solid #fff;
  margin-top: 10px;
  padding: 5px;
}

.wrapper .todoList li {
  width: 99%;
  height: 30px;
  font-size: 14px;
  position: relative;
  display: flex;
  color: white;
  align-items: center;
  background: grey;
  margin-top: 5px;
  border-radius: 6px;
  overflow: hidden;
  padding: 0 10px;
}

.wrapper .todoList li span {
  width: 45px;
  position: absolute;
  right: -45px;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;
}

.wrapper .todoList li:hover span {
  right: 0px;
}

.wrapper .footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
}

.wrapper .footer span {
  color: #fff;
}

.wrapper .footer button {
  border: none;
  outline: none;
  background-color: #fff;
  color: grey;
  font-size: 12px;
  border-radius: 8px;
}

.wrapper .footer button:hover {
  color: #fff;
  background-color: #497be8;
}

@media screen and (min-width: 769px) {
  .wrapper {
    max-width: 900px;
    max-height: 792px;
  }

  .wrapper header {
    font-size: 40px;
  }

  .wrapper .clock .time {
    font-size: 40px;
  }

  .wrapper .clock .day {
    font-size: 40px;
  }

  .wrapper .input-card .input input {
    height: 40px;
    font-size: 18px;
  }

  .wrapper .input-card .colors li {
    width: 60px;
    height: 60px;
  }

  .wrapper .todoList {
    height: 500px;
    max-height: 500px;
  }

  .wrapper .todoList li {
    height: 65px;
    font-size: 30px;
  }

  .wrapper .footer span {
    font-size: 25px;
  }
  .wrapper .footer button {
    font-size: 25px;
  }
}
